
.recipe-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 100%;
  padding-left: 100px;
}


.recipe-header {
  padding-left: 0px;
  margin: 0;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.container img {
  max-width: 100%;
  height: auto;
}

.container .content {
  flex-grow: 1;
}

.container h1 {
  margin: 0;
  text-align: left;
}

.recipe-img-container {
  position: relative;
  display: relative;
  right:0;
  top:0;
  justify-content: center;
  align-items: center;
}

.recipe-img-container img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid var(--coral);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.recipe-img-container {
  margin-left: auto;
  float: right;
  width: 40%;
}
.recipe-info {
  display: flex;
  flex-wrap: wrap;
}

.recipe-details {
  flex-grow: 1;
  padding-left: 10px;

}



.recipe-title {
  width: 100%;
  display: flex;
  color: black;
  font-weight: bold;
  font-size: 50px;
}
.recipe-ingredients-container{
  padding-top: 10px;
}

.recipe-details-container{
  width: 100%
}

.notes-section {
  width: 50%;
  display: flex;
  position: absolute;
  display: absolute;
  bottom:0;

}

h3 {
  display: flex;
  color: #333;
  font-weight: bold;
}

button {
  background-color: #d3d3d3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

button:hover {
  background-color: var(--coral);
}

.recipe-details h3 svg {
  color: var(--coral);
}
.recipe-steps h3 svg {
  color: var(--coral);
}
