.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: fit-content;
    height: 100%;
    margin-left: -5px;
    /* border: black 2px solid; */
}

.logo.link{
    cursor: pointer;
}

.logo h1{
    color: var(--coral);
    border-radius: 5px;
}

.logo.home h1{
    font-size: 100px;
}

.logo img{
    margin-right: 2%;
    width: auto;
    height: 100%;
}