.my-recipes-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recipes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}