
 h2{
    padding: 10px 20px;
    color: var(--light-gray);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
h1{
    padding: 10px 20px;
    color: var(--light-gray);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}